################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MAPIInspector/Source/.vs/config/applicationhost.config
