################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MAPIInspector/Source/.vs/
/MAPIInspector/Source/obj/
/MAPIInspector/Source/bin/
/FSSHTTPWOPIInspector/Source/.vs/FSSHTTPandWOPIInspector/v15
/FSSHTTPWOPIInspector/Test/WOPIautomation/.vs/WOPIautomation/v15/Server/sqlite3
/Program Files/Fiddler2/Inspectors
