<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Note: Property values are case-insensitive unless otherwise specified.-->
  <appSettings>
    <!-- The browser used to access the site. The value should be one of following: IE32, IE64, Chrome, Firefox.-->
    <add key="Browser" value="ie32" />
    <add key="UserName" value="contoso\user1"/>
    <add key="Password" value="Password01!"/>
    <add key="OtherUserName" value="contoso\user2"/>
    <add key="OtherPassword" value="Password01!"/>
    <add key="BaseAddress" value="https://sut04/" />
    <add key="Excel" value="..\..\..\Resource\Excel.xlsx" />
    <add key="Word" value="..\..\..\Resource\Word.docx" />
    <!-- The default wait time when finding element.-->
    <add key="DefaultWaitTime" value="15"/>
    <add key="UIWaitTime" value="30" />

    <!-- The capture tool setting.-->
    <add key="StartScriptPath" value="..\..\..\Resource\StartRemoteRun.ps1" />
    <add key="StopScriptPath" value="..\..\..\Resource\StopRemoteRun.ps1" />
    <add key="Powershell_Path" value="%SystemRoot%\system32\WindowsPowerShell\v1.0\powershell.exe" />
    <add key="path" value="\\sut04\v-huid3\aa.cap" />
    <add key="defaultUserNameForFiddler" value="user1" />
    <add key="FiddlerPath" value="C:\Program Files (x86)\Fiddler2" />
    <add key="BatPath" value="..\..\..\Resource\Converter.bat" /> 
  </appSettings>
</configuration>