<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Note: Property values are case-insensitive unless otherwise specified.-->
  <appSettings>
    <!-- The browser used to access the site. The value should be one of following: IE32, IE64, Chrome, Firefox.-->
    <add key="Browser" value="ie32"/>
    <add key="UserName" value="contoso\wopiuser"/>
    <add key="Password" value="|3wA7IcB#59De"/>
    <add key="OtherUserName" value="Contoso\wopiuser1"/>
    <add key="OtherPassword" value="|3wA7IcB#59De"/>
    <add key="BaseAddress" value="http://sut02"/>
    <add key="DocumentAddress" value="http://sut02/Shared%20Documents/Forms/AllItems.aspx"/>
    <add key="Excel" value="..\..\..\Resource\Excel.xlsx"/>
    <add key="Word" value="..\..\..\Resource\Doc.docx"/>
    <add key="OneWithFileData" value="..\..\..\Resource\OneWithFileData.one"/>    
    <add key="OneWithoutFileData" value="..\..\..\Resource\OneWithoutFileData.one"/>
    <add key="NotebookTableOfContents" value="..\..\..\Resource\Open Notebook.onetoc2"/>
    <add key="OneEncryption" value="..\..\..\Resource\Encryption.one"/>
    
    <!-- The default wait time when finding element.-->
    <add key="DefaultWaitTime" value="60"/>
    <add key="UIWaitTime" value="30"/>

    <!-- The capture tool setting.-->
    <add key="StartScriptPath" value="..\..\..\Resource\StartRemoteRun.ps1"/>
    <add key="StopScriptPath" value="..\..\..\Resource\StopRemoteRun.ps1"/>
    <add key="Powershell_Path" value="%SystemRoot%\system32\WindowsPowerShell\v1.0\powershell.exe"/>
    <add key="path" value="\\SUT02\Wenbo\aa.cap"/>
    <add key="defaultUserNameForFiddler" value="wopiuser"/>
    <add key="FiddlerPath" value="C:\Users\wopiuser\AppData\Local\Programs\Fiddler"/>
    <add key="BatPath" value="..\..\..\Resource\Converter.bat"/> 
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
