<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Note: Property values are case-insensitive unless otherwise specified.-->
  <appSettings>
    <!-- The browser used to access the site. The value should be one of following: IE32, IE64, Chrome, Firefox.-->
    <add key="Browser" value="ie32" />
    <add key="UserName" value="" />
    <add key="Password" value="" />
    <add key="OtherUserName" value="" />
    <add key="OtherPassword" value="" />
    <add key="BaseAddress" value="http://sut02" />
    <add key="DocumentAddress" value="http://sut02/Shared%20Documents/Forms/AllItems.aspx" />
    <add key="Excel" value="..\..\..\Resource\Excel.xlsx" />
    <add key="Word" value="..\..\..\Resource\Doc.docx" />
    <add key="OneWithFileData" value="..\..\..\Resource\OneWithFileData.one" />
    <add key="OneWithoutFileData" value="..\..\..\Resource\OneWithoutFileData.one" />
    <add key="NotebookTableOfContents" value="..\..\..\Resource\Open Notebook.onetoc2" />
    <add key="OneEncryption" value="..\..\..\Resource\Encryption.one" />
    <!-- The default wait time when finding element.-->
    <add key="DefaultWaitTime" value="30" />
    <add key="UIWaitTime" value="15" />
    <!-- The capture tool setting.-->
    <add key="StartScriptPath" value="..\..\..\Resource\StartRemoteRun.ps1" />
    <add key="StopScriptPath" value="..\..\..\Resource\StopRemoteRun.ps1" />
    <add key="Powershell_Path" value="%SystemRoot%\system32\WindowsPowerShell\v1.0\powershell.exe" />
    <add key="path" value="\\SUT02\Wenbo\aa.cap" />
    <add key="defaultUserNameForFiddler" value="plugdevuser19" />
    <add key="FiddlerPath" value="C:\Users\plugdevuser19\AppData\Local\Programs\Fiddler" />
    <add key="BatPath" value="..\..\..\Resource\Converter.bat" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Office.Interop.Graph" publicKeyToken="71e9bce111e9429c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.4.0.0" newVersion="8.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.3.0" newVersion="6.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.2.1.0" newVersion="8.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Office.Interop.OneNote" publicKeyToken="71e9bce111e9429c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml.Framework" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebDriver" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.6.0" newVersion="4.1.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
