<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Email_subject" value="Email subject"/>
    <add key="Email_body" value="Email body"/>
    <add key="Email_to" value="xiaoyanjia@wicresoft23.onmicrosoft.com"/>
    <add key="Email_cc" value="xiaoyanjia@wicresoft23.onmicrosoft.com"/>
    <add key="Email_bcc" value="xiaoyanjia@wicresoft23.onmicrosoft.com"/>
    <add key="Post_body" value="Note_body"/>
    <add key="OutLookPath" value="C:\Program Files (x86)\Microsoft Office\root\Office16\OUTLOOK.EXE"/>
    <add key="OutlookVersion" value="Outlook2013"/>
    <add key="PowershellScript_path" value="D:\201612\1229\MAPIAutomationTest\CachedMode.ps1"/>
    <add key="Powershellpath" value="C:\Windows\SysWOW64\WindowsPowerShell\v1.0\powershell.exe"/>
    <add key="WaitTimeWindow" value="40000"/>
     <add key="WaitTimeItem" value="1000"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
