name: Continuous Integration

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: windows-latest
    continue-on-error: true
    timeout-minutes: 360
    permissions:
      actions: read
      contents: read
      security-events: write

    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
      with:
        egress-policy: audit

    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

    - name: Machine setup
      shell: pwsh
      run: ./scripts/machine-setup.ps1

    - name: Restore NuGet packages
      working-directory: ${{ github.workspace }}
      run: |
        nuget restore ./MAPIInspector/Source/MAPIInspector.sln
        nuget restore ./MAPIInspector/Test/MAPIAutomationTest/MAPIAutomationTest.sln
        nuget restore ./FSSHTTPWOPIInspector/Source/FSSHTTPandWOPIInspector.sln
        nuget restore ./FSSHTTPWOPIInspector/Test/WOPIautomation/WOPIautomation.sln

    - name: "Build MAPIInspector"
      shell: pwsh
      run: |
        $path = & "${env:ProgramFiles(x86)}\Microsoft Visual Studio\Installer\vswhere.exe" -latest -property installationPath
        & $path\MSBuild\Current\Bin\amd64\msbuild.exe /m /p:Configuration="Release" ./MAPIInspector/Source/MAPIInspector.sln

    - name: "Build MAPIAutomationTest"
      shell: pwsh
      run: |
        $path = & "${env:ProgramFiles(x86)}\Microsoft Visual Studio\Installer\vswhere.exe" -latest -property installationPath
        & $path\MSBuild\Current\Bin\amd64\msbuild.exe /m /p:Configuration="Release" ./MAPIInspector/Test/MAPIAutomationTest/MAPIAutomationTest.sln

    - name: "Build FSSHTTPandWOPIInspector"
      shell: pwsh
      run: |
        $path = & "${env:ProgramFiles(x86)}\Microsoft Visual Studio\Installer\vswhere.exe" -latest -property installationPath
        & $path\MSBuild\Current\Bin\amd64\msbuild.exe /m /p:Configuration="Release" ./FSSHTTPWOPIInspector/Source/FSSHTTPandWOPIInspector.sln

    - name: "Build WOPIautomation"
      shell: pwsh
      run: |
        $path = & "${env:ProgramFiles(x86)}\Microsoft Visual Studio\Installer\vswhere.exe" -latest -property installationPath
        & $path\MSBuild\Current\Bin\amd64\msbuild.exe /m /p:Configuration="Release" ./FSSHTTPWOPIInspector/Test/WOPIautomation/WOPIautomation.sln

    - name: Publish Artifacts
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      with:
        name: build-artifacts
        path: |
          .\MAPIInspector\Source\bin\Release\MAPIFiddlerInspector.dll
          .\MAPIInspector\Source\bin\Release\MAPIFiddlerInspector.pdb
          .\FSSHTTPWOPIInspector\Source\bin\Release\FSSHTTPandWOPIFiddlerInspector.dll
          .\FSSHTTPWOPIInspector\Source\bin\Release\FSSHTTPandWOPIFiddlerInspector.pdb